body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.hero-segment,
.footer {
    background-color: #1f2937;
    color: white;
    gap: 20px;
}

.header-links,
.hero-message {
    font-size: 18px;
    color: #e5e7eb;
}

.header,
.hero-segment,
.information-segment,
.quote-segment,
.call-to-action-segment {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.header {
    gap: 400px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding-left: 0px;
}

.hero-segment,
.information-segment,
.quote-segment,
.call-to-action-segment {
    padding-top: 100px;
    padding-bottom: 100px;
}



.hero-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 300px;
}

.hero-message {
    width: 500px;
    padding-bottom: 10px;
}

.hero-segment img {
    width: 420px;
    height: auto;
}

.information-segment li {
    display: flex;
    flex-direction: column;
}

.information-segment ul {
    gap: 30px;
}

.information-segment img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    background: blue;
    padding: 3px;
}

.information-segment figcaption {
    width: 200px;
}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 50px;
}

.information-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1f2937;
}

.quote-segment {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: space-around;
}

blockquote {
    display: flex;
    justify-content: center;

}

blockquote span {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
    width: 750px;
}

.source {
    display: flex;
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    width: 40%;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    /* I largely stole this button from the Odin website */
    align-items: center;
    border-color: transparent;
    border-radius: .375rem;
    border-width: 1px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    line-height: 1rem;
    min-width: 100px;
    padding: .5rem 2rem;
    text-decoration-line: none;
}

.blue-container {
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    height: 80px;
    background-color: #3882f6;
    border-radius: .375rem;
    border-width: 1px;
    padding: 20px 120px;
}

.call-to-action-segment {
    display: flex;
    justify-content: space-around;
    color: white;
}

.call-to-action-segment button {
    height: 40px;
    border-color: white;
}

.cta-header {
    font-weight: bold;
    font-size: 24px;

}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 85%;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 40px;
}